$lightGray: #2D2D2D;
$blue: #1890ff;
$green: #3DE066;
$red: #FA4A5D;
$textWhite: #FFFFFF;

$pulseDuration: 0.5s;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
